body {
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', system-ui, 'Roboto',
        'Helvetica Neue', sans-serif;
    color: #333;
    margin: 0;
}

app {
    display: flex;
    height: 100%;
    flex-direction: column;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
        width: 320px;
        margin: 0 auto;
    }
}

button {
    width: 200px;
    margin: 15px auto;
    height: 40px;
}

section {
    flex: 1;
    max-width: 300px;
    margin: 10px;
}

footer {
    text-align: center;
    padding: 16px 0;
    box-shadow: 0 -1px rgb(222, 222, 222);
}

audio {
    margin-top: 1em;
}

label {
    display: flex;
    align-items: center;
}

input,
select {
    max-width: 100px;
    margin-right: 1em;
}

fieldset {
    margin-top: 1em;
    border: none;
    border-radius: 4px;
}

legend {
    background: white;
    box-shadow: 0 0 2px;
    padding: 5px 10px;
    border-radius: 2px;
}

*[ng-reflect--waoutput] {
    background: thistle;
}

*[waGainNode] {
    background: pink;
}

*[waDelayNode] {
    background: lightgreen;
}

*[waStereoPannerNode] {
    background: skyblue;
}

*[waAudioDestinationNode] {
    background: khaki;
}

*[waWaveShaperNode] {
    background: salmon;
}

*[waBiquadFilterNode] {
    background: gold;
}

*[waConvolverNode] {
    background: aquamarine;
}
